<h4> Here are is your readlist: </h4> <br>
<%current_user.books.each_with_index do |books, index|%>
    <%indexplusone = index + 1%>
    <a href='/books/<%=books.id%>'> <%=indexplusone%>. <%=books.title%> - <%=books.author%> (<%=books.genre%>) </a> <br>
<%end%>
